.footer__links a {
    color: #ffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
}

.footer__links ul li {
    padding-top: 1rem;
}

.footer__links p a {
    font-weight: bolder;
    font-size: 1.5rem;
}

.footer__bg {
    background: var(--footer)
}

.footer__img {
    margin-top: 5rem;
    border-top-style: 3px solid #eef7f5;
    border-bottom-style: 3px solid #eef7f5;
    padding: 2rem 0;
}