.home__bg {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 10.42%,
      rgba(0, 0, 0, 0.14) 27.08%,
      rgba(0, 0, 0, 0.75) 100.6%
    ),
    url(".././img/bg.png");
  min-height: 500px;
  background-position: center;
  background-size: cover;
  mix-blend-mode: multiply;
  background-repeat: no-repeat;
}
section {
  max-width: 1200px;
  margin: 2rem auto;
}
.home__box {
  background: var(--dark-green);
  width: 636px;
  height: 497px;
  border-radius: 20px;
}
.home__img {
  width: 504px;
  height: 503px;
}
@media screen and (max-width: 768px) {
  .home__bg {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 10.42%,
        rgba(0, 0, 0, 0.14) 27.08%,
        rgba(0, 0, 0, 0.75) 100.6%
      ),
      url(".././img/mobilebg.png");
    min-height: 500px;
    background-position: center;
    background-size: cover;
    mix-blend-mode: multiply;
    background-repeat: no-repeat;
  }
}
